/* You can add global styles to this file, and also import other style files */

//libraries
@import '~primeicons/primeicons.css';
@import'~primeng/resources/themes/saga-green/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

@import '~mdb-ui-kit/css/mdb.min.css';

.card{
  margin: 2rem;
  border-width: 0.5px;
  border-style: solid;
  border-color: #e3e3e3;
  border-radius: 10px;
  padding: 2rem;
}



//Font primeng
.p-component{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.demo-container {
  border: 1px solid var(--surface-d);
}


.vertical-container {
  // margin: 0;
  padding: auto;
  height: 200%;
  background: var(--surface-d);
  border-radius: 4px;
}
